<h1>Add Store</h1>
<hr>
<br>
<br>
<br>
<form action="/add_store" method="post">
  <input type="text" name="name" id="name">
  <label for="name">Store Name</label>
  <input type="text" name="brands" id="brands">
  <label for="brands">Brands that carried by store (seperated by commas)</label>
  <br>
  <br>
  <button type="submit" class="btn green">Add Store</button>
</form>
