<form action="/brands" method="post">
  <h3>Add A Brand</h3>
  <div class="input-group">
    <span class="input-group-addon">Name: </span>
    <input type="text" class="form-control" name="name"  id="name">
    <span class="input-group-addon">Price: </span>
    <input type="text" class="form-control" name="price" id="price">
  </div>
  <br>
  <button type="submit" class="btn">Add Brand</button>
</form>
<br>
  <a href="/">Return home</a>
