<form action="/" method="post">
  <div class="input-group">
    <span class="input-group-addon">Name: </span>
    <input id="name" class="form-control" name="name" type="text">
  </div>
  <br>
  <button type="submit" class="btn">Add Store</button>
</form>
<br>
<a href="/">Return Home</a>
