<!DOCTYPE html>
<html>
  <head>
    <title>Brands</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <script type="text/javascript" src="js/scripts.js"></script>
  </head>
  <body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">ShoesShoesShoes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/brands">View Brands</a></li>
        <li><a href="/stores">View Stores</a></li>
        <li><a href="/add_brand">Add Brand</a></li>
        <li><a href="/add_store">Add Store</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
