<form action="/" method="post">
  <h3>Add A Store</h3>
  <div class="input-group">
    <span class="input-group-addon">Name: </span>
    <input id="name" class="form-control" name="name" type="text">
  </div>
  <br>
  <button type="submit" class="btn">Add Store</button>
</form>
<br>
  <button type="button" name="button" class="button_add"><a href="/store_form">Add Store</a></button>
<br>
<br>
<a href="/">Return Home</a>
