<div class="detail">
  <h1><%= @store.name %>
    <div class="delete_edit">
        <form class="delete" action="/delete/<%= @store.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" class="btn btn-info btn-xs">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </form>

        <a href="/edit/<%= @store.id%>" class="btn btn-info btn-xs">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </div>
  </h1>

  <h3>Brands We Carry:</h3>
  <% @brands.each do |brand| %>
    <li><%= brand.name %></li>
  <% end %>
  <br>
  <a href="/">Return to Stores</a>
</div>
